/*ここからボタンのCSS*/
.btn-gradation {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;


  /*↓傾ける*/
  transform: rotate(45deg);

  font-size: 40px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 70px;
  margin: 46px 48px;
  background-image: linear-gradient(-90deg,#FF006E,#FFD500);
  transition: 1.0s;
  background-size: 400%

}



.btn-gradation:hover {
  background-position: right center;
}
